# Зависимости
node_modules/
.pnp
.pnp.js

# Сборка
dist/
build/
.vite/

# Тесты
coverage/

# Переменные окружения
.env
.env.local
.env.*.local

# Логи
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Кэш
.eslintcache
*.tsbuildinfo

# Редакторы и ОС
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db